body{
    font-family: myFirstFont;
    text-align: center;
    scroll-behavior: smooth;
}
.navbarCustom{
    background-color: #000000CC;
    color:#F5F5F7;
    font-family: myFirstFont;
    font-size: 12px;
}
@font-face {
    font-family: SF-Pro;
    src: url(SF-Pro-Text-Medium.otf);
  }
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

.container-left{
    /* border: 2px solid red; */
    text-align: start;
    padding: 5rem;
    width: 50vw;
}
.head1{
    color: orangered;
}
.container-right{
    height: 90vh;
    /* border: 2px solid rgb(80, 192, 86); */
    width: 50vw;
    overflow: hidden;
}
img{
    transition: all 0.5s ease-in-out;
    height: 275%;
    width: 275%;
}

/* .container-right:hover > img{
    transform: rotate(-90deg);
} */
.circles{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin-right: 1rem;
    outline: solid 2px white;
    outline-offset: 4px;
}

#circle1{
    background-color: yellow;
}
#circle2{
    background-color: orange;
}
#circle3{
    background-color: grey;
}
#circle4{
    background-color: black;
}
body {
    text-align: center;
    color: white;

}
